/.idea
/.vscode
/node_modules
/public_html/hot
/public_html/storage
/public_html/js/*
/public_html/css/*
/public_html/fonts/*
/public_html/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
